In [1]:
import pandas as pd

In [56]:
sim_el = pd.read_csv("../network_data/similarity_edgelist_eng.csv")
sim_el.head()

  from        to    weight
0  joy     trust  3.000000
1  joy      fear  1.142857
2  joy  surprise  3.444444
3  joy   sadness  0.166667
4  joy   disgust  0.000000

In [52]:
asc_el = pd.read_csv("../network_data/association_edgelist_eng.csv")
asc_el.head()

  from        to    weight
0  joy     trust  4.800000
1  joy      fear  0.800000
2  joy  surprise  3.666667
3  joy   sadness  0.900000
4  joy   disgust  1.090909

In [55]:
trn_el = pd.read_csv("../network_data/transition_edgelist_eng.csv")
trn_el.head()

  from        to    weight
0  joy     trust  3.833333
1  joy      fear  1.428571
2  joy  surprise  3.333333
3  joy   sadness  0.923077
4  joy   disgust  0.500000